
/* 由上而下載入 因此已PC為頭，依序往下寫*/
.title{ 
    color: red;
}
.content{
    color:black;
}

@media(max-width:768px){
    .title{
        color: blue;
    }
    .content{
        font-size: 30px;
    }
}

@media(max-width:375px){
    .title{
        color: yellow;
    }
    .content{
        font-size: 30px;
    }
}
