

.navbar-menu > li {
    display: inline-block; /*水平式選單*/
}
/*漢堡選單*/
.button-toggle{
    display: none; 
}

@media screen and (max-width:768px){
    .navbar-menu{
        display: none;
    }
    .navbar-menu.active{
        display: block;
    }
    .navbar-menu > li{
        display: block;
    }
    .button-toggle{
        display: inline-block;
    }
}